<div style="position: fixed" class="contenidoInterno" ng-controller="loginController">
		
	<div class="form input-group">
		<h1>Iniciar Sesión</h1><br>
		<p style="color:red">{{message}}</p>
		<!-- Form -->
		<form name="login" action="dashboard/dashboard.html" method="post" novalidate>
			<label>Usuario</label>
			<input type="text" name="name" ng-model="user.name" class="form-control" required><br>
			<p ng-show="login.name.$touched && login.name.$invalid" style="color:red">Debe ingresar un usuario</p>
		
			<label>Contraseña</label>
			<input type="password" name="pass" ng-model="user.pass" class="form-control" required><br><br><br>
			<p ng-show="login.pass.$touched && login.pass.$invalid" style="color:red">Debe ingresar una contraseña</p>
			
			<a href="#" >¡Regístrese aquí!</a><br>
			<br>
		</form>
		<a class="btn btn-default" ng-disabled="login.name.$invalid || login.pass.$invalid"  ui-sref="" role="button" ng-click="validateLogin(user)">Entrar</a>
		<!--  -->
		<a ui-sref="inicio" style="margin-left:20px"><-- Salir</a> 
	</div>
</div>