<div class="bloqueDerecha panel panel-default" ng-controller="DetalleCampController">
	<div class="panel-heading">
		{{campana.title}}
		<span style="" class="icon-angle-right pull-right">
			<a ui-sref="dashboard.campanas" style="color:black; text-decoration: none;">X</a>
		</span>
	</div>
	<div class="panel-body">
		<h4>Título</h4>
		<p>{{campana.title}}</p>
		<h4>Descripción</h4>
		<p>{{campana.desc}} </p>
		<h4>Vista Previa</h4>
		<img src="" alt="" width="50px" height="50px">
		<h4>Grupos</h4>
		<ul>
			<li ng-repeat="grupo in gruposCamp">{{grupo.title}}</li>
		</ul>
		<br>
		<button class="btn btn-default" ui-sref="dashboard.campanas.modificar({ id: campana.id })">Editar</button>
		<button style="margin-left:25px" ng-click="deleteCampana(campana)" class="btn btn-default">Borrar</button>
	</div>
</div>
