<div class="bloqueIzquierda input-group" ng-controller="GruposController">
	<h1>Tus Grupos</h1>
	<div class="input-group">  
		<input type="text" ng-model="filtro" class="form-control" placeholder="Buscar Grupos...">  
	</div><br>
	<div class="list-group">
		<button type="button" ng-repeat="grupo in grupos | filter: filtro" id="grupo{{$index}}" class="list-group-item" ui-sref="dashboard.grupos.detalle({ id: grupo.id })">  {{$index + 1}} - {{grupo.title}} 
			<span class="icon-angle-right pull-right">></span>
		</button>
	</div>
	<button class="btn btn-default" ui-sref="dashboard.grupos.nuevo" type="button">Nuevo</button> 
</div>
<div ui-view=""></div>
