<div class="bloqueDerecha panel panel-default" ng-controller="NuevaCampController">
	<div class="panel-heading">
		Elegir Grupos
		<span style="" class="icon-angle-right pull-right">
			<a ui-sref="dashboard.campanas"  style="color:black; text-decoration:none;">X</a>
		</span>
	</div>

	<div class="panel-body">
		<h3>{{campana.title}}</h3>
		<h4>Seleccione los destinatarios</h4>
		<div class="input-group">  
			<input type="text" class="form-control" ng-model="filtro" placeholder="Grupos...">  
		</div><br>  
		
		<label>Grupos</label>
		<form name="form-camp" id="form-campId">
			<div id="lista" class="list-group">
				<span ng-repeat="grupo in grupos | filter : filtro">
					<input type="checkbox" name="gruposList" id="{{grupo.id}}" ng-model="campana.grupos[$index].id"
					 ng-true-value="'{{grupo.id}}'" ng-false-value="''" id="'{{grupo.id}}'"> {{grupo.title}}<br>
				</span><br>
			</div>

			<a class="btn btn-default" ui-sref="dashboard.campanas.nueva"> <- Atras</a>
			<a type="submit" ui-sref="dashboard.campanas.nueva3" ng-click="addGrupos(campana.grupos)" ng-disabled="!campana.grupos" onclick="" class="btn btn-default">Siguiente -></a>
		</form>
	</div>


<!-- Validación checkboxes -->
<script type="text/javascript">
	function validarCheck() 
	{
			var fields = $("input[name='gruposList']").serializeArray(); 
			if (fields.length === 0)
			{ 
					if ($("#errorMsg").length === 0){
						$("#lista").append('<p id="errorMsg" style="color:red;">Debe seleccionar al menos un grupo</p>');
					}
					// cancel submit
					return false;
			} 
			else 
			{ 
					$('#form-campId').submit();
					return true;
			}
	}

	// register event on form, not submit button
	
</script>
</div>