<div class="bloqueDerecha panel panel-default" ng-controller="NuevaCampController">
	<div class="panel-heading">
		Diseñar Campaña
		<span style="" class="icon-angle-right pull-right">
			<a ui-sref="dashboard.campanas"  style="color:black; text-decoration:none;">X</a>
		</span>
	</div>

	<div class="panel-body">
		<h4>Realice el diseño de la campaña</h4>
		<div class="input-group">
			<form name="form-camp" action="dashboard/dashboard.html" method="post" novalidate>
				<div class="panel panel-default">
					<div class="panel-heading">{{campana.title}}</div>
					<div style="overflow-y: scroll;" class="panel-body">
						<img style="width:50%; height: auto;" src="../img/logo_camp.png" width="500px" height="500px">
						<h2>{{campana.title}}</h2>
						<h4>{{campana.desc}}</h4>
						<div ng-repeat="grupo in campana.grupos">{{grupo.id}}</div>
					</div>
				</div>
				<a ui-sref="dashboard.campanas.nueva2" class="btn btn-default"><- Atras</a>
				<button type="submit" class="btn btn-default" ui-sref="dashboard.campanas" ng-click="addCampana(campana)">Enviar -></button>
			</form>
		</div>
	</div>
</div>
