<div class="bloqueIzquierda input-group" ng-controller="CampanasController">    
	<h1>Tus Campañas</h1>   
	<div class="input-group">  
		<input type="text" class="form-control" ng-model="filtro" placeholder="Buscar Campañas...">  

	</div><br>  
	<div class="list-group"> 
		<button type="button" class="list-group-item" ng-repeat="campana in campanas | filter : filtro" 
				ui-sref="dashboard.campanas.detalle({ id: campana._id })"> 
			{{$index + 1}} - {{campana.title}}
			<span class="icon-angle-right pull-right">></span>
		</button>
	</div>
	<a class="btn btn-default" ui-sref="dashboard.campanas.nueva" ng-click="setId()">Nueva</a>
</div>
<div ui-view=""></div> 

