<div class="bloqueDerecha panel panel-default" ng-controller="NuevaCampController">
	<div class="panel-heading">
		Diseñar Campaña
		<span style="" class="icon-angle-right pull-right">
			<a ui-sref="dashboard.campanas"  style="color:black; text-decoration:none;">X</a>
		</span>
	</div>

	<div class="panel-body">
		<h4>Realice el diseño de la campaña</h4>
		<div class="input-group">
			<form name="form-camp" ng-submit="addCampana(campana)" method="post" novalidate>
				<div class="panel panel-default">
					<div class="panel-heading">{{campana.title}}</div>
					<div>
						<div ckeditor="options" ng-model="contentEditor"></div>
					</div>
				</div>
				<label>Ingrese la contraseña de su email</label>
				<input type="password" id="passemail" name="passemail" ng-model="passemail" class="form-control"><br><br><br>
				<a ui-sref="dashboard.campanas.nueva2" class="btn btn-default"><- Atras</a>
				<input type="submit" onclick="" class="btn btn-default" value="Enviar ->">
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">CKEDITOR.replace('contenido');</script>


