<div class="bloqueIzquierda input-group" ng-controller="TrackingController">
	<h1>Trackings</h1>
	<div class="input-group">  
		<input type="text" ng-model="filtro" class="form-control" placeholder="Buscar Trackings...">  
	</div><br>

	<div class="list-group"> 
		<button type="button" class="list-group-item" ng-repeat="tracking in trackings | filter: filtro" 
				ui-sref="dashboard.tracking.detalle({ id: tracking.id })"> 
			{{$index + 1}} - {{tracking.title}}
			<span class="icon-angle-right pull-right">></span>
		</button>
	</div>
</div>
<div ui-view=""></div>