<!DOCTYPE html>
<html>
<head>
	<title>TusCampañas</title>
	<meta charset="utf-8">
	<!-- Scripts -->
	<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/angular-ui-router.js"></script>
	<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/Chart.js"></script>
	<script src="../js/index.js"></script>
	<script src="../js/routes.js"></script>
	<script src="../js/inicio.js"></script>
	<script src="../js/login.js"></script>
	<script src="../js/dashboard.js"></script>
	<script src="../js/campanas.js"></script>
	<script src="../js/grupos.js"></script>
	<script src="../js/tracking.js"></script>
	
	<!-- CSS-->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/inicio.css" rel="stylesheet">
	<style>.active { color: red; font-weight: bolder; } .nav {text-decoration: none} html {font-family: arial}</style>
</head>
<body ng-app="inicio">
	<ui-view></ui-view>
</body>
</html>