<!DOCTYPE html>
<html ng-app="inicio">
<head>
	<title>Test AngularJS</title>
	<meta charset="utf-8">
	<!-- Angular -->
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/angular-ui-router.js"></script>
	<script src="../js/inicio.js"></script>
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/inicio.css" rel="stylesheet">
	<style>.active { color: red; font-weight: bolder; } .nav {text-decoration: none} html {font-family: arial}</style>
</head>

<body>

<div class="contenidoIniciarSesion">
		
	<div class="form input-group">
		<h1>Iniciar Sesión</h1><br>
		<!-- Form -->
		<form action="" method="post">
			<label>Usuario</label>
			<input type="text" name="usuario" class="form-control"><br><br><br>
			<label>Contraseña</label>
			<input type="password" name="pass" class="form-control">
			<br><br><br><br>
			<button type="submit" class="btn btn-default">Entrar</button>
			<a href="#" style="margin-left: 20px">¡Regístrese aquí!</a><br>
			<br><br>

			<a href="index.html"><-- Salir</a> 
		</form>
		<!--  -->
	</div>
</div>

</body>

</html>