<div class="input-group" ng-controller="GruposController">
	<h1>Tus Grupos</h1>
	<div class="input-group">  
		<input type="text" class="form-control" placeholder="Grupos...">  
		<span class="input-group-btn">  
			<button class="btn btn-default" type="button">Buscar!</button>  
		</span>   
	</div><br>
	<div class="list-group">
		<div class="list-group" ng-repeat="grupo in grupos">
			<button type="button" class="list-group-item"> {{grupo.title}}
			<span class="icon-angle-right pull-right">></span>
			<ul>
				<li ng-repeat="cliente in grupo.clientes">{{cliente}}</li>
			</ul>
			</button>
		</div>
	</div>
	<button class="btn btn-default" type="button">Nuevo</button> 
</div>