<div class="input-group">    
	<h1>Tus Campañas</h1>   
	<div class="input-group">  
		<input type="text" class="form-control" placeholder="Campañas...">  
		<span class="input-group-btn">  
			<button class="btn btn-default" type="button">Buscar!</button>  
		</span>   
	</div><br>  
	<div class="list-group">    
		<button type="button" class="list-group-item"> México 3 días</button>    
		<button type="button" class="list-group-item"> Córdiba 1 semana</button>    
		<button type="button" class="list-group-item"> Crucero Miami</button>    
	</div>   
	<button class="btn btn-default" type="button">Nueva</button>  
</div> 