<div class="input-group">
	<h1>Tus Grupos</h1>
	<div class="input-group">  
		<input type="text" class="form-control" placeholder="Grupos...">  
		<span class="input-group-btn">  
			<button class="btn btn-default" type="button">Buscar!</button>  
		</span>   
	</div><br>
	<div class="list-group">
	 	<input type="text" class="form-control" placeholder="Search">
		<button type="button" class="list-group-item"> Adultos La Plata</button> 
		<button type="button" class="list-group-item"> Colegas</button>
		<button type="button" class="list-group-item"> Padres</button>
	</div>
</div>